1) Добавить подзагрузку товаров в каталоге - сейчас проблема с чекбоксами для новых добавленных товаров.
2) Стилизовать умный фильтр
3) Не показывать меленькую карту на странице доставки
4) Шаблон письма на почту при заказе
5) В мобильной версии на странице корзины нет маленькой корзины и в итоге смотрится коряво
6) Сделать вход через соцсети
7) запомнить пароль в авторизации
8) В списке товаров сделать зеленым-красным слово в наличии, опустить кнопку
9) В детальном описании поменять класс у бренда
10) Фиксированная панелька с товаром в детальном описании, подправить стили
11) В детальном описании ожидаемо не работает фильтрация по артиклу и названию
12) font.error стиль поменять
13) добавить подразделы
14) делать поиск на главной странице каталога
15) Поправить карту сайта, в списки больше отступы, и в две колонки
16) Переделать меню - используем плагин битрикса collspace
17) форму регистраииъ
18) Таблицу цен
